// COLORS
$white: #FFF;
$black: #000;
$blue: #00205B;
$blue-light: #00A9E0;
$gray: #303030;
$gray-dark: #262930;
$gray-light: #CCD2E3;
$grat-middle: #474747;

// SIZES
$header-top-height: 40px;
$header-bottom-height: 50px;

// Z-INDEXES
$header-z-index: 100;